<footer class="mt-5 border-top border-custom-grey bg-custom-light">
    <div class="container-lg">
        <div
            class="py-4 d-flex flex-column flex-md-row justify-content-between align-items-center small text-custom-grey">
            <p class="mb-2 mb-md-0">&copy; 2025 Akshat Dwivedi. Crafted with <span style="color: red;"><i
                        class="bi bi-heart-fill"></i> </span>&nbsp; and
                Minimal
                Design.</p>
            <div>
                <a routerLink="" class="text-custom-grey text-decoration-none footer-link fw-semibold"
                    style="text-decoration: none;cursor: pointer;">
                    <i class=" bi bi-arrow-up-circle-fill"></i>
                    Back to Main
                </a>
            </div>
        </div>
    </div>
</footer>