<header class="bg-white sticky-top border-bottom border-custom-grey">
    <div class="container-lg">
        <nav class="py-3 navbar navbar-expand-md navbar-light">
            <a routerLink="/" class="navbar-brand fs-4 fw-bold text-dark text-decoration-none">
                Akshat <span class="text-accent">D</span>.
            </a>

            <button class="border-0 navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="mb-2 navbar-nav mb-md-0">
                    <li class="mx-2 nav-item mx-md-3">
                        <a class="nav-link fw-medium text-dark" routerLink="/about" routerLinkActive="text-accent"
                            [routerLinkActiveOptions]="{exact:true}">About</a>
                    </li>
                    <li class="mx-2 nav-item mx-md-3">
                        <a class="nav-link fw-medium text-dark" routerLink="/skills" routerLinkActive="text-accent"
                            [routerLinkActiveOptions]="{exact:true}">Skills</a>
                    </li>
                    <li class="mx-2 nav-item mx-md-3">
                        <a class="nav-link fw-medium text-dark" routerLink="/work" routerLinkActive="text-accent"
                            [routerLinkActiveOptions]="{exact:true}">Work</a>
                    </li>
                    <li class="mx-2 nav-item mx-md-3">
                        <a class="nav-link fw-medium text-dark" routerLink="/interests" routerLinkActive="text-accent"
                            [routerLinkActiveOptions]="{exact:true}">Interests</a>
                    </li>
                    <li class="mx-2 nav-item mx-md-3">
                        <a class="nav-link fw-medium text-dark" routerLink="/connect" routerLinkActive="text-accent"
                            [routerLinkActiveOptions]="{exact:true}">Connect</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>